<!DOCTYPE html>
<html>
<head>
    <title>Sofa Search</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../static/base.css">
    <script src="../static/jquery-3.1.1.js"></script>
    <script src="../static/scripts.js"></script>
</head>
<body class="center">
<div class="overlay-white center column transform">
    <div id="welcomeContent" class="transform">
        <h1 class="margin-small">Sofa Search</h1>
        <h3 class="margin-medium">Tinder for sofas.</h3>
        <div id="buttonStart" class="btn btn-large margin-small">
            <h2>Begin</h2>
        </div>
        <div id="buttonAbout" class="btn btn-large margin-small">
            <h2>About</h2>
        </div>
    </div>
    
    <div id="aboutContent" class="hidden transform column flex-full">
        <h2 id="aboutHeader" class="margin-medium">
            About
        </h2>
        <h4 id="aboutText" class="margin-small">
            SofaSearch is an online tool that helps you search for your ideal sofa. <br>
            Using TensorFlow machine learning, SofaSearch recommends you products in just a few clicks! <br> <br>
            
            Authors: <br>
            Lawrence Pang <br>
            Nicholas Vadivelu <br>
            Victor Yu <br> <br>
            
            Hack the North 2017 Project <br> <br>
            
            Source code: <a href= https://github.com/n2cholas/hackthenorth2017>link</a>
        </h4>
        <div class="btn btn-medium btn-back margin-small">
            <h4>Back</h4>
        </div>
    </div>
    
    <div id="sofaContent" class="hidden transform column flex-full">
        <h2 id="aboutHeader" class="margin-medium">
            Sofa Recommendation
        </h2>
        <img id="sofaImage" class="margin-small" src="../static/images/noImage.png"> </img>
        <div class="center margin-small">
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 0 <h4> </div>
				<input name="rating" value=0>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 1 <h4> </div>
				<input name="rating" value=1>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 2 <h4> </div>
				<input name="rating" value=2>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 3 <h4> </div>
				<input name="rating" value=3>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 4 <h4> </div>
				<input name="rating" value=4>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 5 <h4> </div>
				<input name="rating" value=5>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 6 <h4> </div>
				<input name="rating" value=6>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 7 <h4> </div>
				<input name="rating" value=7>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small round"> <h4> 8 <h4> </div>
				<input name="rating" value=8>
			</form>
			<form id="form0" action="" method="post">
            	<div class="btn btn-small"> <h4> 9 <h4> </div>
				<input name="rating" value=9>
			</form>
        </div>
        <div class="center margin-small">
            <div class="btn btn-medium btn-back margin-small">
                <h4>Back</h4>
            </div>
            
            <div class="btn btn-medium btn-back margin-small">
                <h4>View Product</h4>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
